[% IF ! c.user_exists %]
<form class="form-inline" accept-charset="utf-8" method="post" action="[% c.uri_for('/login') %]">
	<input type="text" class="input-small" name="email" placeholder="Email" />
	<input type="password" class="input-small" name="password" placeholder="Password" />
	<button type="submit" class="btn btn-primary">Sign in</button>
</form>
[% ELSE %]
	<p class="navbar-text">Hello, [% c.user.firstname %] <a href="[% c.uri_for('/logout') %]" class="btn">Logout</a></p>
[% END %]
