<table class="table table-striped">
	<tr>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Email address</th>
		<th>&nbsp;</th>
	</tr>
	[% FOREACH match IN matches.all %]
	<tr>
		<td>[% match.firstname %]</td>
		<td>[% match.lastname %]</td>
		<td>[% match.email %]</td>
		<td><a class="btn" href="[% c.uri_for('/profile/view/') %][% match.id %]">View</a></td>
	</tr>
	[% END %]
</table>
